body{
    background-color: lightgray;
}
.INICIO{
    display: flex;
    border: solid darkgreen 5px;
    background-color: bisque;
    font-size: 80px;
    color: darkred;
    justify-content: space-between;
    align-items: center;
}
#HOME{
    display: flex;
    background-color: lightblue;
    justify-content: center;
    font-size: 40pt;
    align-items: center;
}
.Font{
    display: flex;
    font-style: SansSerif;
    font-size: 20pt;
    color: indigo;
    position: relative;
    top: 10px;
    left: 10px;
    flex-direction: column;
    align-items: center;
}
.Nome{
    color: darkred;

}
.tabela{
    display: flex;
    color: red;
    border-style: dashed 5px red;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
#Sites{
    display: flex;
    background-color: yellow;
    color: red;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
#Final{
    font-size: 15pt;
    display: flex;
    background-color: bisque;
    font-size: 80px;
    color: darkred;
    justify-content: space-between;
    align-items: center;
    font: comic-sans;
}
.Programar{
display: flex;
align-items: center;
justify-content: center;
}
.iframe{
    display: flex;
    justify-content: space-between;
}